################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SimulatorDPS/FileContentIndex/96183c91-a43b-4e32-a008-2bddc65207d1.vsidx
